.checkout {
    display: flex;
    padding: 20px;
    background: white;
    height: max-content;

    &__title {
        margin-right: 10px;
        padding: 10px;
        border-bottom: 1px solid lightgray;
    }

    &__ad {
        width: 100%;
        margin-bottom: 15px;
    }
}